#title {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.result {
  font-weight: bold;
}

pre {
  border-radius: 0.375rem;
}

.copyBtn {
  cursor: pointer;
}

#darkmode {
  position: absolute;
  top: 20px;
  right: 30px;
}

.header_div {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-size: 0.75rem;
  background-color: #373b46;
  color: #cdcdcd;
}

#usage {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  opacity: 0.5;
}

img[alt="Generated Image"] {
  width: 50%;
}

.app {
  margin-top: 12vh;
}

.loading {
  display: flex;
  gap: 1%;
  align-items: center;
}

#info {
  display: none;
  font-size: 12px;
  margin-top: 20px;
}

code {
  white-space: pre-wrap;
}

.output_area {
  display: none;
  min-height: 100px;
}

.vision_options,
.dalle_options,
.tts_options,
.loading_main,
#player {
  display: none;
}
